
/* BEGIN EXTERNAL SOURCE */
td {
padding-left: 20px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
td {
padding-right: 20px
}
/* END EXTERNAL SOURCE */

/* BEGIN EXTERNAL SOURCE */
table {
width: 100%
}
/* END EXTERNAL SOURCE */
