body {
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedor {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0px;
    left: 0px;
}

.centrar {
    align-self: center;
    width: 100%;
}

.div1 {
    border-radius: 10px;
    width: 100%;
    background: lightblue;
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    margin-top: 0px;
}

.izquierda {
    text-align: end;
}

h1 {
    padding-left: 20px;
    width: 90%
}

.icono {
    padding-right: 20px;
    width: 20px;
    height: 20px;
}
.buttonp{
    width: 80px;
    height: 30px;
    border: 1px solid #74e2e9;
    background-color: #74e2e9; 
    border-radius: 5px; 
}
/*.divimagen {*/
    /*            width: 1900px;
            height: 900px; 
            background-image: url('imagenes/imagen1.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;*/
/*}*/



