body {
    font-family: 'Roboto', sans-serif;
}

form {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%
}

.divs {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table{
    text-align: center; 
    
}

.tablaABML{
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 30px 80px 30px 80px; 
}

.tablamenu{
    width: 100%; 
}

.divmenu{
    width: 100%;  
    border: 1px solid #ccc;
    border-radius: 10px;
    background: lightblue;
}

.botones{
    width: 130px; 
    height: 30px; 
    border-radius: 10px;

}
    .botones:hover {
        background-color: #ddd;
    }

.td{
    padding-bottom: 10px; 
}

/*#Menu_Medicos {
    display: inline-block;
}

    #Menu_Medicos img {
        display: none !important;
    }

#Menu_Pacientes {
    display: inline-block;
}

    #Menu_Pacientes img {
        display: none !important;
    }


.menuitem {
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

    .menuitem:hover {
        background-color: #ddd;
    }
*/
.imagen {
    width: 174px;
    height: 150px;
}

.bottoncerrarsesion{
    text-align: center; 
    padding: 10px; 
    background-color: #be1717; 
    border-radius: 10px; 
    border: 0px; 
}

    .bottoncerrarsesion:hover{
        background-color: #fc0000; 
    }